* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  width: 375px;
  height: 667px;
  background-color: rgb(207, 235, 243);
  border-radius: 10px;
  border: 2px solid rgb(180, 215, 224);
}
